  1. What are data structures, and why are they important?

  >  Data structures are ways to organize and store data in a computer so that it can be used efficiently. They are a fundamental part of computer science.
  Data structures are important for- Makes code more efficient, improve problem solving, Help design alogorithms, Improve dasta management.

  2. Explain the difference between mutable and immutable data types with examples.
  > Mutable data types can be changed after they are created, while immutable data types cannot.
  Examples- Mutable data types.
   Lists, dictionaries and sets are mutable data types in python. You can add, remove or update their elements.
  Immutable data types- String and tuples are immutable data types in Python. You cannot change their contlent after creation.
Benefits of immutable data types- Immutable objects are inherently thread-safe, meaning they can be safely shared across threads and processes.

  3. What are the main differences between lists and tuples in Python?
  >  Lists and Tuples in Pytho are two differennt implementations of array data stucture.
  Lists is Mutable and Tuples is not(Cannot update an element, insert and delete elements)
  Tuples are faster because of read only nature. Memory can be efficiently allocated and used for tuples.
  * Difference between List and Tuple in Pytho
  List- Lists are mutable, The implication of iterations is Time-consluming, The list is better for performing operations, suchas insertion and deletion, Lists consume more memory, Lists have several builtin methods, Unexpected changes and errors are more likely to occur.
  Tuple- Tuple are immutable, The implication of iterations is comparatively faster, A Tuple data type is appropriate for accessing the elements, Tuple consumes less memory as compared to the list, Tuple does not have many built in methods, Because tuples don't change they are far less error prone.

 4. Describe how dictionaries store data.
 >  In Python, dictionaries store data as key-value pairs, where each key is unique and immutable, and the value can be any data type.
 Dectionaries are designed to store data in a stuctured manner, associating a unique key with a corresponding value.

  5. Why might you use a set instead of a list in Python?
  >  A set in Python is preferred over a list in scenarios prioritizing uniqueness, membership testing, and set operations, due to its inherent characteristics and performance advantages.
  Sets, by definition, do not allow duplicate elements. If the goal is to store only unique items, using a set automatically handles duplicate removal, simplifying the codes and improving efficency compared to manually managing uniqueness in a list.

  6. What is a string in Python, and how is it different from a list?
  >  In Python, a string is a sequence of characters, while a list is a sequenence values. String are immutable, meaning they cannot be changed after they are created. Lists are mutable, meaning they can be changed after they are created.

  7. How do tuples ensure data integrity in Python?
  >  Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifespan, preventing accidental or unintended alterations that could compromise the integrity of the data. Immutability is particularly valuable when working with data that should not be changed, such as configuration settings, database records, or function return values. By using tuples, developers can confidently rely on the conssistency and reliability of their data, knowing that it will not be inadvertently modified during program execution.

  8. What is a hash table, and how does it relate to dictionaries in Python?
  >  A hash table is a data stucture that stores key-values pairs, where each key is unique and its position in the table is determined by a hash function. This function takes the key as input and produces an index, indicating where the associated value should be stored. Hash tables are designed for efficient insertion, deletion, and retrieval of data , offering average-case time complexity of O(1) for these operations.
  in Python, dictionaries are implemented using hash tables. Whena key-value pair is added to a dictionalry, Python calculates the hash value of the key to determine the storage location. THis allows for quick access to values based on their keys. While hash collisions(where different keys produce the same hash value) can occur, Python's dictionary implemmentation handles them efficiently, maintainling the overall performance of the dictionary. Therefore, Python dictionaries are a practical applicatrion of hash tables, providing a built-in way to utlize their benefits.

  9. Can lists contain different data types in Python?
  >  A lists in Python can contain elements of different data types. This is one of the features that makes Python lists very flexible. A single list can hold integers, strings, floats, booleans, and even other lists or more complex objects.
  While it is possible to mix data types in a list, it's important to consider the implications for code readablility and maintainability. If the list is intended to store a collection of similar items, its generally better to keep the data types consistent. However, if the list is being used to group related but different pieces of information, them mixing data types can be appropriate.

  10. Explain why strings are immutable in Python.
  >   Sting in Python are immutable because of serveral design and performance consliderations. Immutability ensures data integrity, allowing strings to be safely shared asnd reused throughout a program. Since their value cannot change after creation, strings can be used as dictionary keys, which frequire a constangtl hash value. This also simplifies memorhy management as the size of a string is fixed, and avoidx the complexities that arise from modifying string in place, escpecially in multithreaded environments.
  When a string appears to be modified using methods like or concatenation a new string object is created. While the original remains unchanged. This behavior might seem less efficientat first, but it promotes clarity and avoids unintended side effects.

  11. What advantages do dictionaries offer over lists for certain tasks?
  >   Dictionaries are better than lists for tasks like data lookups, storing large amounts of data and mapping relationships.
  Additional advantages of dictionaries- Easy to understand key value pairs, Built in methods for manipulation, Useful for mapping relationships, Can be applied in various scenarios, Make code easier to read, Can be used to store friend's cell phone numbers.

  12. Describe a scenario where using a tuple would be preferable over a list.
  >   A tuple should be used over a list when you need a fixed, immutable sequence of data, such as coordinates or a set of constant values, where you want to ensure the data remains unchanged ensure the data remains unchanged throughout the program's execution.

  13. How do sets handle duplicate values in Python?
  >   Sets in Python are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, it is automatically ignored, and the set remains unchanged. This behavior is fundamental to the nature of sets as unordered collections of distinct elements.

  14. How does the “in” keyword work differently for lists and dictionaries?
  >  The in keyword checks for membership differently in lists and dictionaries, in lists, it checks if a value exists as an element, while in dictionaries, it checks if a key exists.
  List- The in keyword with a list checks if a specific value is present as an element within the list.
  It iterates through the list and returns True if the value is found other wise False.
  Dictionaries- The in keyword with a dictionary checks if a specific key is present in the dictionary. It does not check for the presence of a value.

  15. Can you modify the elements of a tuple? Explain why or why not.
  >   No, you cannot modify the elements of a tuple in Python because tuples are immutable. This menas that you cannot add, remove, or change the elements of a tuple after it has been created.
  Explanation- Tuples are immutable, which means that their contents are fixed and cannot be altered. If you try to modity a tuple by assingning a new value to one of its elements, you will get a TypeError error. However, if the elements is a changeable data type, such as a list its nested components can be altered.
  You can concatenate 2 or more tuples to form a new tuple. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

   16. What is a nested dictionary, and give an example of its use case?
   >   A nested dictionary is a dictionary that is stored inside another dictionary. It's a way to organize data in layers.
   Examples- An organizational chart can be represented using a nested dictionary. In this example, the keys are different departments and the values are dictionaries of emplouyees in each department.

   17. Describe the time complexity of accessing elements in a dictionary.
   >   The time complexity of accessing an element in a Pythfon dictionary is O(1) on average, but can be O(n) in the worst case. This menas that it takes a constant amount of time to search for a value in a dictionay, on average. However, the worst case occurs when there are many hash collisions or when the dictionary needs to be resized.

   18. In what situations are lists preferred over dictionaries?
   >   List are preferred over dictgionaries when the order of items is crucial, youneed to store multiple values for each item or when you frequently perform operations like appending or extending.

   19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   > Dictionaries are considered unordered because they don't maintain a specific order for their elements,meaning the oreder in which you add key-value pairs does't gurantee the order they'll be retrieved. This impacts data retrieval as you cannot access elements by their position but instead by their unique keys.

   20. Explain the difference between a list and a dictionary in terms of data retrieval.
   >   In Python, lists are bettetr for accessing elements in order,while dictionaries are better for quick lookups.
   List- Data structure ordered collection of items, Access elements using indices, ordered collections like sequences of user actions, Faster for ordered operations like sorting.
   Dictionary- Unordered collection of key-value pairs, Access elements using keys, Quick lookups like mapping unsernmes to user data, Faster for lookup operations.

               Practical Questions.

   1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Ankit"
print(my_name)

Ankit

   2. Write a code to find the length of the string "Hello World".

In [ ]:
str = "Hello world"
length = len(str)
print("length of 'Hello world' :",length)

length of 'Hello world' : 11

   3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str = "Python Programming"
first_3_chars = str[:3]
print("First 3 characters:",first_3_chars)

First 3 characters: Pyt

   4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str = "hello"
uppercase_str = str.upper()
print("uppercase string:",uppercase_str)

uppercase string: HELLO

   5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str = "I like apple"
new_str = str.replace("apple","orange")
print("Modified string:", new_str)

Modified string: I like orange

   6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1,2,3,4,5]
print("List of numbers:",numbers)

List of numbers: [1, 2, 3, 4, 5]

  7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1,2,3,4]
print("Orignal list:", numbers)
print("Updated list:", numbers)

Orignal list: [1, 2, 3, 4]
Updated list: [1, 2, 3, 4]

  8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [1]:
my_list = [1,2,3,4,5]
new_list = [num for num in my_list if num != 3]
print(new_list)

[1, 2, 4, 5]

   9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [2]:

my_list = ['a','b','c','d']
second_element = my_list[1]
print("Second element:",second_element)

Second element: b

   10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [4]:
numbers = [10,20,30,40,50]
print("Orignal list:", numbers)
print("Reversed list:", numbers)

Orignal list: [10, 20, 30, 40, 50]
Reversed list: [10, 20, 30, 40, 50]

   11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [5]:
numbers = (100,200,300)
print("Tuple:",numbers)

Tuple: (100, 200, 300)

   12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [6]:
colors = ('red','green','blue','yellow')
second_to_last_element = colors[-2]
print("Second to last element:",second_to_last_element)

Second to last element: blue

   13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [7]:
numbers = (10,20,5,15)
min_number = min(numbers)
print("Minimum number:",min_number)

Minimum number: 5

   14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [8]:
animalus = ('dog','cat','rabbit')
cat_index = animalus.index('cat')
print("Index of 'cat':",cat_index)

Index of 'cat': 1

   15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [9]:
fruits = ('apple','banana','orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print("Is 'kiwi' in the tuple:",is_kiwi_in_tuple)

Is 'kiwi' in the tuple: False

   16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [11]:

letters = {'a','b','c'}
print("Set:",letters)

Set: {'c', 'a', 'b'}

   17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [12]:
numbers = {1,2,3,4,5}
print("Original set:", numbers)
print("Cleared set:", numbers)

Original set: {1, 2, 3, 4, 5}
Cleared set: {1, 2, 3, 4, 5}

   18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [1]:
numbers = {1,2,3,4}
print("Original set:", numbers)
numbers.remove(4)
print("Updated set:", numbers)

Original set: {1, 2, 3, 4}
Updated set: {1, 2, 3}

   19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [2]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print("Union of set1 and set2:",union_set)

Union of set1 and set2: {1, 2, 3, 4, 5}

   20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [4]:
set1 = {1,2,3}
set2 = {2,3,4}
print("set 1:", set1)
set1 = {1,2,3}
set2 = {2,3,4}
print("set 1:", set1)
print("set 2:", set2)
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:",intersection_set)

set 1: {1, 2, 3}
set 1: {1, 2, 3}
set 2: {2, 3, 4}
Intersection of set1 and set2: {2, 3}

   21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [6]:
 person = {'name': 'Ankit sinha', 'age': 25, 'city': 'Gurgaon'}
 print("Dictionary:", person)

Dictionary: {'name': 'Ankit sinha', 'age': 25, 'city': 'Gurgaon'}

   22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [7]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

   23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [8]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

   24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [9]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

   25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [10]:
person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print("Does 'city' exist in the dictionary:", city_exists)

Does 'city' exist in the dictionary: True

   26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [11]:
my_list = [1.2,3,4,5]
my_tuple = ('apple','banana','orange')
my_dictionary = {'name': 'Ankit', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1.2, 3, 4, 5]
Tuple: ('apple', 'banana', 'orange')
Dictionary: {'name': 'Ankit', 'age': 25}

   27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [13]:
import random
random_list = [random.randint(1,100) for _ in range(5)]
print("Orignal list:", random_list)
print("sorted list:", random_list)
#

#

Orignal list: [27, 27, 75, 97, 72]
sorted list: [27, 27, 75, 97, 72]

   28. Write a code to create a list with strings and print the element at the third index.

In [14]:
fruit_list = ['apple','banana','orange','kiwi','mango']
print("Element at index 3:", fruit_list[3])

Element at index 3: kiwi

   29. Write a code to combine two dictionaries into one and print the result.

In [15]:
dict1 = {'name': 'New york', 'country': 'USA'}
dict2 = {'city': 'Paris', 'language': 'French'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)
#

Combined dictionary: {'name': 'New york', 'country': 'USA', 'city': 'Paris', 'language': 'French'}

   30. Write a code to convert a list of strings into a set.

In [16]:
string_list = ['apple','banana','orange']
string_set = set(string_list)
print("Set:", string_set)

Set: {'orange', 'banana', 'apple'}